*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.wrapper {
    width: 100%;
    height: 100vh;
}

#Mycontact{
    height: 57px;
    background-color: #eaeaea;
}
.Myprofile {
    width: 50px;
    height: 45px;
    border-radius: 50%;
}
#notificationsBar{
    background-color: rgb(92, 206, 255);
    height: 70px;
}
#searchChat {
    height: 50px;
}
#chatBar{
    height: calc(100% - 175px);
    overflow-y: scroll;
}
.notificationsIcon{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: white;
}
.notificationsIcon i{
    color:rgb(92, 206, 255);
}
.chatBarBox{
    height: 80px;
    cursor: pointer;
    padding: .3rem 1rem;
}

.chatBarBox:hover {
    background-color: grey ;
}

i {
    color: grey;
}
#chat{
    background-image: url("../img/mine.jpg");
    height: calc(100% -150px);
    overflow-y: scroll;
}

#sent{
    width: 200px;
    height: 50px;
    background-color: #d5f9ba;
    
}

#received{
    width: 200px;
    height: 50px;
    background-color: #ffffff;
}